body {
    background-color: #F49102;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome {
    font-family: fantasy;
    background-color:#F3B64A;
    color: #002C40;
    font-size: 44px;
    margin: 10px;
    border-radius: 20px;
}

.gostos {
    margin: 10px;
    color: #2F6075;
    font-size: 22px;
}

.lista {
    color: #3E3E3E;
}

.divisor {
    color: #2F6075;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.periodo {
    color: #2F6075;
    font-size: 22px;
    margin: 10px;
}

.linkpuc {
    color: #3E3E3E;
}

.secao1 {
    background-color: #F3B64A;
    border-style: solid;
    border-width: 1px;
    border-color: #3E3E3E;
    margin-bottom: 20px;
}

.secao2 {
    background-color: #F3B64A;
    border-style: solid;
    border-width: 1px;
    border-color: #2F6075;
    padding: 10px;
}

.secao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F3B64A;
    border-style: solid;
    border-width: 1px;
    border-color: #3E3E3E;
    padding: 10px;
}

.secao4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3B64A;
    border-style: solid;
    border-width: 1px;
    border-color: #2F6075;
    padding: 10px;
}

.inputNome {
    background-color: #F3B64A;
    border: 2px solid #2F6075;
    border-radius: 4px;
    height: 20px;
    font-size: 14px;
    padding: 0px 3px;
    margin-bottom: 10px;
}

.inputIdade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3B64A;
    border: 2px solid #2F6075;
    color: #2F6075;
    border-radius: 4px;
    height: 20px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    padding: 0px 3px;
}

.idadeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIdade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3B64A;
    border: 2px solid #2F6075;
    border-radius: 4px;
    text-align: center;
    color: #2F6075;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.botaoAlerta {
    font-family:fantasy;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #F3B64A;
    border: 2px solid #2F6075;
    border-radius: 4px;
    text-align: center;
    color: #2F6075;
    cursor: pointer;
    height: 24px;
    width: 80px;
}
